/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/font-awesome/scss/font-awesome.scss";
*{
    margin: 0;
    padding: 0;
    font-family: "Futura", Sans-serif;
    box-sizing: border-box;

}

nav ul li a{
    color: #7a7a7a;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
nav ul li{
    position: relative;
}
  
    nav  ul li:hover:after{
        background-color: #a51300;
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
    -webkit-transition: all 3s;
    transition: all 3s;
     }



     /////////////////////////////////////services section//////////////////////////////////
     .services-container{
       display: block;
    //    display: flex;
       position: relative;
    //    margin: auto;
    //    align-items: center;
    //    justify-content: center;
       max-width: 100%;
    //    & .services-content{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     // position: absolute;
    //     margin: auto;
    //    }
      
     }

     
       .row {

        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        // margin-left: auto;
        // justify-self: center;
        // align-items: center;
        width: 80%;
        // position: absolute;
        // margin: auto;
        transform: translateX(3.3em);
        margin:auto;
        overflow: hidden;
      }
      
    .column {
        flex: 25%;
        max-width: 25%;
        -ms-flex: 25%;
        padding: 0 4px;
        clear: both;
        // margin: auto;
        margin-left: 45px;
        // margin: auto;
      }
   
    // .col-container{
    //     //   display: block;
    //     //   margin: 1px;
    //   }
    .services-header{
          margin: auto;
        //   display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-top: 2em;
          
          
         & h4{
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
         & span{
                color: #d2232a; 
            }

          }
         & hr{
             display: block;
              width: 50px;
              background-color: black;
              height: 0.5px;
              border-radius: 3px;
              margin: auto;
            //   margin-bottom: 20px;
            //   line-height: 35em;
              margin-bottom: 2em;
              
          }
         & p{
              margin-bottom: 20px;
              display: block;
              color: #333132;
              font-size: 18px;
              font-weight: 500;
            //   font-weight: bold;
              line-height: 1.5em;
              font-family: "Futura", Sans-serif;
            //   text-transform: capitalize;
              span{
                color:#bb1b06 ;
                text-transform: uppercase;
                font-weight: 500;
              }
          }
      } 
      .content-wrapper{
        height:35vh;
        max-width: 21vw;
        margin-bottom:2vw;
        position: relative;
        
      & .content-wrapper-back{
          height:35vh;
          width: 21vw;
          position: absolute;
          background-color: #a51300;
        //   z-index: -1;
        //   top: 0px;
        //   left: 0px;
           display: flex;
           text-align: center;
           justify-content: center;
           align-items: center;
           transition-duration: 1s;
           transition-property: transform, opacity;
           opacity: 0;
           transform: rotateY(90deg);


          & p{
              font-family:"Futura", Sans-serif ;
              color: white;
              font-size: 14px;
             
            //   display: block;
          }
          & a{
              
              display: block;
              width: 5vw;
              padding: 2px;
              border: 1px solid white;
              border-radius: 1px;
              text-decoration: none;
              color: white;
              text-align: center;
              margin: auto;

          }

      }
       & .content-wrapper-front{
          height:35vh;
          width: 21vw;
          position: absolute;
          z-index: 1;
          display: flex;
           text-align: center;
           justify-content: center;
           align-items: center;
        //   background-image: url("assets/images/marketing.jpg");
          background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url("assets/images/marketing.jpg");
          background-position: center ;
          background-color: rgba(20, 18, 18, 0.89);
          background-size: cover;
        //   transition: 0.5s ease;
          transition-duration: 1s;
          transition-property: transform, opacity;
          opacity: 1;
          transform: rotateY(0deg);

          & img{
              width: 5vw;
          }
          & p{
              & span{
                  text-transform: uppercase;
                  font-family: "Futura", Sans-serif;
                  color: white;
              }
              
              font-family: "Futura", Sans-serif;
              font-weight: bold;
              color:#a51300;
              text-align: center;
              font-size: 20px;
              margin-top: 20px;
              text-transform: capitalize;
        
            }
    }
      &:hover {
        & > .content-wrapper-front {
          opacity: 0;
          transform: rotateY(90deg);
        }
    
        & > .content-wrapper-back {
          opacity: 1;
          transform: rotateY(0deg);
        }
      }
}
.content-wrapper{
    height:35vh;
    max-width: 100%;
    margin-bottom:2vw;
    position: relative;
    
  & .outer-content-wrapper-back{
      height:35vh;
      width: 21vw;
      position: absolute;
      background-color: #a51300;
    //   z-index: -1;
    //   top: 0px;
    //   left: 0px;
       display: flex;
       text-align: center;
       justify-content: center;
       align-items: center;
       transition-duration: 1s;
       transition-property: transform, opacity;
       opacity: 0;
       transform: rotateY(180deg);


      & p{
          font-family:"Futura", Sans-serif ;
          color: white;
          font-size: 14px;
         
        //   display: block;
      }
      & a{
          
          display: block;
          width: 5vw;
          padding: 2px;
          border: 1px solid white;
          border-radius: 1px;
          text-decoration: none;
          color: white;
          text-align: center;
          margin: auto;
      }

  }
   & .outer-content-wrapper-front{
      height:35vh;
      width: 21vw;
      position: absolute;
      z-index: 1;
      display: flex;
       text-align: center;
       justify-content: center;
       align-items: center;
    //   background-image: url("assets/images/marketing.jpg");
      background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url("assets/images/marketing.jpg");
      background-position: center ;
      background-color: rgba(20, 18, 18, 0.89);
      background-size: cover;
    //   transition: 0.5s ease;
      transition-duration: 1s;
      transition-property: transform, opacity;
      opacity: 1;
      transform: rotateY(0deg);

      & img{
          width: 5vw;
      }
      & p{
          
          & span{
              text-transform: uppercase;
              font-family: "Futura", Sans-serif;
              color: white;
          }
          
          font-family: "Futura", Sans-serif;
          font-weight: bold;
          color:#a51300;
          text-align: center;
          font-size: 20px;
          margin-top: 20px;
    
        }
}
  &:hover {
    & > .outer-content-wrapper-front {
      opacity: 0;
      transform: rotateY(180deg);
    }

    & > .outer-content-wrapper-back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }


}


      
    //   /* Responsive layout - makes a two column-layout instead of four columns */
    //   @media screen and (max-width: 800px) {
    //     .column {
    //      -ms-flex: 50%;
    //       flex: 50%;
    //       max-width: 100%;
    //     //   margin: 0;
    //       &.col-container{
    //      &.content-wrapper{
    //         &.content-wrapper-back{
    //            max-width: 100%;

    //         }
    //     }
    // }
    //     }
    
    //   }
      
    //   /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    //   @media screen and (max-width: 600px) {
    //     .column {
    //       flex: 100%;
    //       max-width: 100%;
    //     }
    //     // .content-wrapper{
    //     //     max-width: 100%;
    //     // }
        
    //   }
      

      /////////////////////////////////end service section///////////////////////


      /////////////////////////vision section///////////////////////////////////

    .vision-container{
        background-image: url("assets/images/vision2.jpg");
        min-width: 100%;
        max-width: 110%;
        min-height: 50vh;
        max-height: 110%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background-color: #a51300;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-size:100% ;
        transition:  all 5s ease-in-out;
        position: relative;
        & h4{
            // margin-bottom: 20px;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
         & span{
                color: #d2232a; 
            }

          }
         & hr{
             display: block;
              width: 50px;
              background-color: white;
              height: 0.5px;
              border-radius: 3px;
              margin: auto;
              margin-bottom: 2em;
              
          }
         & p{
              font-family: "Futura", Sans-serif;
              color: #c4c4c4;
              font-size: 17px;
              font-weight: 400;
              line-height: 1.2em;
          }
    }
    .vision-container:hover{
        background-position: right;
        transform: skewY(.09deg);
        overflow: hidden;
        max-height: 110%;
         
    }

    /////////////////////////end vision//////////////////////////////////////////////////////

    /////////////////////////////about us section/////////////////////////////////////////////
    .about-us-container{
     background-color: #f3f3f3;
     min-height: 180vh;
     max-height: fit-content;
     & .about-us{
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;

        & div{
             & img{
                 width: 35vw;
                 margin-top: 15vh;
             }


        }
     }
     & h4{
        font-size: 45px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.5;
     & span{
            color: #d2232a; 
        }

      }
     & hr{
         display: block;
          width: 50px;
          background-color:black;
          height: 0.5px;
          border-radius: 3px;
          margin: auto;
          margin-bottom: 2em;
          
      }
     & p{
          font-family: "Futura", Sans-serif;
          color: #9f9f9f;
          font-size: 17px;
        //   font-weight: 400;
          line-height: 2.2em;
          & span{
            color: #d2232a;
            text-transform:capitalize;
            font-weight: bolder;
            
          }
         
      }
      & .line-border{
        display: inline-block;
        // position: absolute;
        // // top: 1;
        padding: 5px;
        border-top: 2px solid #D2232A;
        border-right: 2px solid #D2232A;
        height: 80px;
        width: 10px;
        margin-left: 5vw;
      }
   //////////////////////////////////

    & .values{
       & .container-fluid{
           & .values-cols{
               margin-top: 10vh;
               & .values-img{
                background-image: linear-gradient(rgba(0, 0, 0, 0.658),rgba(10, 8, 8, 0.897)),url("assets/images/values.png");
                background-position: center ;
                background-color: rgba(20, 18, 18, 0.89);
                background-size: cover;
                background-size: 50vw;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // border-top: 1px solid #D2232A;
                // border-left: 1px solid #D2232A;
                // border-radius: 28px 0px 0px 0px;
                & img{
                    transition:  all 1s ease-in-out;
                }
                 & img:hover{
                     transform: skewX(20deg);
                 }
 
               }
             & .values-description{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
             }  
           }
           & .values-content{
               background-color:  rgb(255, 255, 255);;
               margin-top: 0vh;
               margin-bottom: 12vh;
               padding: 0;
            //   box-shadow: 0px 0px 1px #a51300;
              border: 1px solid  rgb(255, 255, 255);
              border-radius:0px  0px 25px 25px;
              min-height: 40vh;
               max-height: fit-content;
               & .first{
                font-family: "Futura", Sans-serif;
                margin-top: 4vh;
                font-size: 15px;

                & h5{
                    font-size: 1em;
                    font-weight: bolder;

                    text-transform: capitalize;
                }
                   & ul li{
                    list-style: none;
                    text-decoration: none;
                    font-family: "Futura", Sans-serif;
                    line-height: 2;
                    color: #9f9f9f;

                    & i{
                       color: rgb(187, 43, 43);
                       margin-right: 8px;
                    }

                   }
               }

           }

        }

    }












      ///////////////////////////////////
    //   & .values{
    //     display: flex;
    //     // justify-content: center;
    //     // align-items: center;
    //     // text-align: center;
    //     & .values-img{
    //         & img{
    //             width: 20vw;
    //         }
           
    //     }
    //     & div{
    //         text-align: center;
    //         left: 50%;
    //         & h4{
    //             font-size: 45px;
    //             font-weight: 700;
    //             text-transform: capitalize;
    //             line-height: 1.5;
    //          & span{
    //                 color: #d2232a; 
    //             }
        
    //           }
    //          & hr{
    //              display: block;
    //               width: 50px;
    //               background-color:black;
    //               height: 0.5px;
    //               border-radius: 3px;
    //               margin: auto;
    //               margin-bottom: 2em;
                  
    //           }
    //          & p{
    //               font-family: "Futura", Sans-serif;
    //               color: #9f9f9f;
    //               font-size: 17px;
    //             //   font-weight: 400;
    //               line-height: 2.2em;
    //               & span{
    //                 color: #d2232a;
    //                 text-transform:capitalize;
    //                 font-weight: bolder;
                    
    //               }
                 
    //           }
    //           & .line-border{
    //             display: inline-block;
    //             // position: absolute;
    //             // // top: 1;
    //             padding: 5px;
    //             border-top: 2px solid #D2232A;
    //             border-right: 2px solid #D2232A;
    //             height: 80px;
    //             width: 10px;
    //             margin-left: 5vw;
    //     }
    //   }
     
    //   }
    }
    //////////////////////////////////////end about us////////////////////////////////////////////



    ////////////////////////////header///////////////////////////////////////////////////////////
    .header-container{
        background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url("assets/images/header-bg-test.jpg");
        background-position: center ;
        // background-color: rgba(20, 18, 18, 0.89);
        background-size: cover;
        height: 93vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow:hidden;
        animation:bg 5s linear infinite;
        & div{
          
            color: #c4c4c4;
            & img{
                width: 20vw;
            }
            & p{
                font-variant: small-caps;;
            }
            & .dropping-texts{

            }

// body {
//   margin:0px;
//   text-align:center;
//   padding-top:43vh;
//   color:#fff;
//   font-family:'Roboto';
//   font-size:36px;
//   font-weight:100;

// }

.dropping-texts {
//   display: inline-block;
//   width: 180px;
//   text-align: left;
//   height: 36px;
//   vertical-align: -2px;
}

.dropping-texts > div {
  font-size:0px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:300;   
  box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.dropping-texts > div:nth-child(4) {
  animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    font-size:1500px;
    opacity:0;
    margin-left:-1000px;
    margin-top:-800px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}















        }

        
    }
