@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/scss/font-awesome.scss";
@font-face {
  font-family: futur;
  src: url(./assets/fonts/futura/futur.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: futur;
  background-color: #f3f3f3;
}
p {
  margin-bottom: 0;
}
.navbar{
  position: sticky;
  display: block;
  top:0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.1);
  // height: 11vh;
  }
nav {
  
  img {
    width: 70px;
    }
    ul li {
      position: relative;
      &:hover:after {
        background-color: #a51300;
        content: "";
        height: 3px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -10px;
        -webkit-transition: all 3s;
        transition: all 3s;
      }
      a.nav-link {
        color: #7a7a7a;
        padding-top: 25px;
        padding-bottom: 25px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
    }
     
  }
}

/////////////////////////////////////services section//////////////////////////////////
.services-container {
  display: block;
  //    display: flex;
  position: relative;
  //    margin: auto;
  //    align-items: center;
  //    justify-content: center;
  max-width: 100%;
  //    & .services-content{
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     // position: absolute;
  //     margin: auto;
  //    }
}
.fa-star{
  width:20vw; color:#a51300; font-size: 50px;
}
.service-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  // margin-left: auto;
  // justify-self: center;
  // align-items: center;
  // width: 80%;
  // position: absolute;
  // margin: auto;
  // transform: translateX(3.3em);
  margin: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 25%;
  max-width: 25%;
  -ms-flex: 25%;
  padding: 0 4px;
  clear: both;
  // margin: auto;
  margin-left: 45px;
  // margin: auto;
}

// .col-container{
//     //   display: block;
//     //   margin: 1px;
//   }
.services-header {
  margin: auto;
  //   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;

  & h4 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    & span {
      color: #d2232a;
    }
  }
  & hr {
    display: block;
    width: 50px;
    background-color: black;
    height: 0.5px;
    border-radius: 3px;
    margin: auto;
    //   margin-bottom: 20px;
    //   line-height: 35em;
    margin-bottom: 2em;
  }
  & p {
    margin-bottom: 20px;
    display: block;
    color: #333132;
    font-size: 18px;
    font-weight: 500;
    //   font-weight: bold;
    line-height: 1.5em;
    //   text-transform: capitalize;
    span {
      color: #bb1b06;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
.content-wrapper {
  padding: 2em;
  max-width: 21vw;
  margin-bottom: 12vw;
  position: relative;

  & .content-wrapper-back {
    top: 0;
  left: 0;
    height: 29vh;
    padding: 2em;
    width: 100%;
    position: absolute;
    background-color: #a51300;
    //   z-index: -1;
    //   top: 0px;
    //   left: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    transition-property: transform, opacity;
    opacity: 0;
    transform: rotateY(90deg);

    & p {
      color: white;
      font-size: 14px;

      //   display: block;
    }
    & a {
      margin: 20px auto;
      display: block;
      padding: 2px;
      border: 1px solid white;
      border-radius: 1px;
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }
  & .content-wrapper-front {
    top: 0;
  left: 0;
    height: 29vh;
    padding: 2em;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    //   background-image: url("assets/images/marketing.jpg");
    background-image: linear-gradient(rgba(3, 0, 0, 0.658), rgba(10, 8, 8, 0.61)), url("assets/images/marketing.jpg");
    background-position: center;
    background-color: rgba(20, 18, 18, 0.89);
    background-size: cover;
    //   transition: 0.5s ease;
    transition-duration: 1s;
    transition-property: transform, opacity;
    opacity: 1;
    transform: rotateY(0deg);

    & img {
      width: 5vw;
    }
    & p {
      & span {
        text-transform: uppercase;
        color: white;
      }
      font-weight: bold;
      color: #a51300;
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
      text-transform: capitalize;
    }
  }
  &:hover {
    & > .content-wrapper-front {
      opacity: 0;
      transform: rotateY(90deg);
    }

    & > .content-wrapper-back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
}
.content-wrapper {
  padding: 2em;
  max-width: 100%;
  margin-bottom: 12vw;
  position: relative;

  & .outer-content-wrapper-back {
    top: 0;
  left: 0;
    padding: 2em;
    height: 29vh;
    width: 100%;
    position: absolute;
    background-color: #a51300;
    //   z-index: -1;
    //   top: 0px;
    //   left: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    transition-property: transform, opacity;
    opacity: 0;
    transform: rotateY(180deg);

    & p {

      color: white;
      font-size: 14px;

      //   display: block;
    }
    & a {
      margin: 20px auto;
      display: block;
      padding: 2px;
      border: 1px solid white;
      border-radius: 1px;
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }
  & .outer-content-wrapper-front {
    top: 0;
  left: 0;
    height: 29vh;
    padding: 2em;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    //   background-image: url("assets/images/marketing.jpg");
    background-image: linear-gradient(rgba(3, 0, 0, 0.658), rgba(10, 8, 8, 0.61)), url("assets/images/marketing.jpg");
    background-position: center;
    background-color: rgba(20, 18, 18, 0.89);
    background-size: cover;
    //   transition: 0.5s ease;
    transition-duration: 1s;
    transition-property: transform, opacity;
    opacity: 1;
    transform: rotateY(0deg);

    & img {
      width: 5vw;
    }
    & p {
      & span {
        text-transform: uppercase;
  
        color: white;
      }


      font-weight: bold;
      color: #a51300;
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
    }
  }
  &:hover {
    & > .outer-content-wrapper-front {
      opacity: 0;
      transform: rotateY(180deg);
    }

    & > .outer-content-wrapper-back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
}

//   /* Responsive layout - makes a two column-layout instead of four columns */
//   @media screen and (max-width: 800px) {
//     .column {
//      -ms-flex: 50%;
//       flex: 50%;
//       max-width: 100%;
//     //   margin: 0;
//       &.col-container{
//      &.content-wrapper{
//         &.content-wrapper-back{
//            max-width: 100%;

//         }
//     }
// }
//     }

//   }

//   /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
//   @media screen and (max-width: 600px) {
//     .column {
//       flex: 100%;
//       max-width: 100%;
//     }
//     // .content-wrapper{
//     //     max-width: 100%;
//     // }

//   }

/////////////////////////////////end service section///////////////////////

/////////////////////////vision section///////////////////////////////////

.vision-container {
  background-image: url("assets/images/vision2.jpg");
    display: flex;
    padding: 5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    transition: all 10s ease-in-out;
    position: relative;
  & h4 {
    // margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    & span {
      color: #d2232a;
    }
  }
  & hr {
    display: block;
    width: 50px;
    background-color: white;
    height: 0.5px;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 2em;
  }
  & p {
    font-family: futur;
    color: #c4c4c4;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
  }
}
.vision-container:hover {
  background-position: right;
  transform: skewY(0.09deg);
  overflow: hidden;
  max-height: 110%;
}

/////////////////////////end vision//////////////////////////////////////////////////////

/////////////////////////////about us section/////////////////////////////////////////////
.about-us-container {
  .row {
    justify-content: center;
}
  background-color: #f3f3f3;
  max-height: fit-content;
  & .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & div {
      & img {
        width: 35vw;
        margin-top: 15vh;
      }
    }
  }
  & h4 {
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5;
    & span {
      color: #d2232a;
    }
  }
  & hr {
    display: block;
    width: 50px;
    background-color: black;
    height: 0.5px;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 2em;
  }
  & p {
    font-family: futur;
    color: #9f9f9f;
    font-size: 17px;
    //   font-weight: 400;
    line-height: 2.2em;
    & span {
      color: #d2232a;
      text-transform: capitalize;
      font-weight: bolder;
    }
  }
  & .line-border {
    display: inline-block;
    // position: absolute;
    // // top: 1;
    padding: 5px;
    border-top: 2px solid #d2232a;
    border-right: 2px solid #d2232a;
    height: 80px;
    width: 10px;
    margin-left: 5vw;
  }
  //////////////////////////////////

  & .values {
    & .container {
      // display: ;
      // justify-content: center;
      // align-items: center;
      & .values-cols {
        margin-top: 10vh;
        & .values-img {

          background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(10, 8, 8, 0.897)),
            url("assets/images/values.png");
          background-position: center;
          background-color: rgba(20, 18, 18, 0.89);
          background-size: cover;
          background-size: 50vw;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          // border-top: 1px solid #D2232A;
          // border-left: 1px solid #D2232A;
          // border-radius: 28px 0px 0px 0px;
          & img {
            transition: all 1s ease-in-out;
              height: 211px;
              margin-top: 10px;
              &:hover {
                transform: skewX(20deg);
              }
          }
         
        }
        & .values-description {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      & .values-content {
        background-color: rgb(255, 255, 255);
        margin-top: 0vh;
        margin-bottom: 12vh;
        padding: 0;
        //   box-shadow: 0px 0px 1px #a51300;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0px 0px 25px 25px;
        max-height: fit-content;
        & .first {
    
          margin-top: 4vh;
          font-size: 15px;

          & h5 {
            font-size: 1em;
            font-weight: bolder;

            text-transform: capitalize;
          }
          & ul li {
            list-style: none;
            text-decoration: none;
      
            line-height: 2;
            color: #9f9f9f;

            & i {
              color: rgb(187, 43, 43);
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  ///////////////////////////////////
  //   & .values{
  //     display: flex;
  //     // justify-content: center;
  //     // align-items: center;
  //     // text-align: center;
  //     & .values-img{
  //         & img{
  //             width: 20vw;
  //         }

  //     }
  //     & div{
  //         text-align: center;
  //         left: 50%;
  //         & h4{
  //             font-size: 45px;
  //             font-weight: 700;
  //             text-transform: capitalize;
  //             line-height: 1.5;
  //          & span{
  //                 color: #d2232a;
  //             }

  //           }
  //          & hr{
  //              display: block;
  //               width: 50px;
  //               background-color:black;
  //               height: 0.5px;
  //               border-radius: 3px;
  //               margin: auto;
  //               margin-bottom: 2em;

  //           }
  //          & p{
  //         
  //               color: #9f9f9f;
  //               font-size: 17px;
  //             //   font-weight: 400;
  //               line-height: 2.2em;
  //               & span{
  //                 color: #d2232a;
  //                 text-transform:capitalize;
  //                 font-weight: bolder;

  //               }

  //           }
  //           & .line-border{
  //             display: inline-block;
  //             // position: absolute;
  //             // // top: 1;
  //             padding: 5px;
  //             border-top: 2px solid #D2232A;
  //             border-right: 2px solid #D2232A;
  //             height: 80px;
  //             width: 10px;
  //             margin-left: 5vw;
  //     }
  //   }

  //   }
}
//////////////////////////////////////end about us////////////////////////////////////////////



    //////////////////////////// header///////////////////////////////////////////////////////////
    .header-container{
        background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url("assets/images/header-bg-test.jpg");
        background-position: center ;
        // background-color: rgba(20, 18, 18, 0.89);
        background-size: cover;
        width: 100%;
        height: 93vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow:hidden;
        animation:bg 5s linear infinite;
        & div{
          
            color: #c4c4c4;
            & img{
                width: 20vw;
            }
            & pre{
                display: block;
                margin-top: 15vh;
                color: #c4c4c4;

            }
            & .dropping-texts{
                margin-top: 6px;
                text-align: center;
                position: relative;
                // display:inline-block;
                & div {
                    // top: 80%;
                    left: 35%;
                    font-size:0px;
                    opacity:0;
                    margin-left:-10px;
                    position:absolute;
                    font-weight:900; 
                    text-align: center;  
                    box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
                  }
                    & div:nth-child(1) {
                      animation: roll 5s linear infinite 0s;
                    }
                    & div:nth-child(2) {
                      animation: roll 5s linear infinite 1s;
                    }
                    &  div:nth-child(3) {
                      animation: roll 5s linear infinite 2s;
                    }
                    &  div:nth-child(4) {
                      animation: roll 5s linear infinite 3s;
                    }
                    // & div:nth-child(5) {
                    //     animation: roll 5s linear infinite 4s;
                    //   }
                    //   & div:nth-child(6) {
                    //     animation: roll 5s linear infinite 5s;
                    //   }
                    //   &  div:nth-child(7) {
                    //     animation: roll 5s linear infinite 6s;
                    //   }
                    //   &  div:nth-child(8) {
                    //     animation: roll 5s linear infinite 7s;
                    //   }
                    @keyframes roll {
                        0% {
                          font-size:0px;
                          opacity:0;
                          margin-left:-10px;
                          margin-top:0px;
                          transform: rotate(-25deg);
                        }
                        3% {
                          opacity:1;
                          transform: rotate(0deg);
                        }
                        5% {
                          font-size:inherit;
                          opacity:1;
                          margin-left:0px;
                          margin-top:0px;
                        }
                        20% {
                          font-size:inherit;
                          opacity:1;
                          margin-left:0px;
                          margin-top:0px;
                          transform: rotate(0deg);
                        }
                        27% {
                          font-size:0px;
                          opacity:0.5;
                          margin-left:20px;
                          margin-top:100px;
                        }
                        100% {
                          font-size:0px;
                          opacity:0;
                          margin-left:-30px;
                          margin-top:0px;
                          transform: rotate(15deg);
                        }
                      }
                      
                    //   @keyframes roll2 {
                    //     0% {
                    //       font-size:0px;
                    //       opacity:0;
                    //       margin-left:-30px;
                    //       margin-top:0px;
                    //       transform: rotate(-25deg);
                    //     }
                    //     3% {
                    //       opacity:1;
                    //       transform: rotate(0deg);
                    //     }
                    //     5% {
                    //       font-size:inherit;
                    //       opacity:1;
                    //       margin-left:0px;
                    //       margin-top:0px;
                    //     }
                    //     30% {
                    //       font-size:inherit;
                    //       opacity:1;
                    //       margin-left:0px;
                    //       margin-top:0px;
                    //       transform: rotate(0deg);
                    //     }
                    //     37% {
                    //       font-size:1500px;
                    //       opacity:0;
                    //       margin-left:-1000px;
                    //       margin-top:-800px;
                    //     }
                    //     100% {
                    //       font-size:0px;
                    //       opacity:0;
                    //       margin-left:-30px;
                    //       margin-top:0px;
                    //       transform: rotate(15deg);
                    //     }
                    //   }
                      
                    

            }








        }

        
    }
////////////////////////end header////////////////////////////////////////////////////////////////\



.mission-container{
  background-color: #f3f3f3;
  max-height: fit-content;
  margin-bottom: 0px;
  & .mission{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    
      & div{
          margin-top: 9vh;
          & h4{
              text-transform: uppercase;
              font-size: 30px;
              font-weight: 700;
              line-height: 2.5;
              font-family: futur;
              & span{
                  color: #d2232a;
                  text-transform: uppercase;

              }
          }
      & hr{
          display: block;
           width: 50px;
           background-color:black;
           height: 0.5px;
           border-radius: 3px;
           margin: auto;
           margin-bottom: 2em;
           
       }
      & p{
           font-family: futur;
           
           font-size: 20px;
         //   font-weight: 400;
           line-height: 0.6em;
           & span{
             color: #d2232a;
             text-transform:capitalize;
             font-weight: bolder;
             
           }
          }   

          }
        }

        .mission-content{
                       font-family: futur;
                       margin-top: 4vh;
                       font-size: 15px;
       
                       & h5{
                           font-size: 1em;
                           font-weight: bolder;
       
                           text-transform: capitalize;
                       }
                          & ul li{
                           list-style: none;
                           text-decoration: none;
                           font-family: futur;
                           line-height: 2;
                           color: black;
       
                           & i{
                              color: rgb(187, 43, 43);
                              margin-right: 8px;
                           }
       
                          }
                      }
                  }

    ///////////////////// ////////////////////end mission/////////////////////////////////

    ////////////////footeerr/////////////////////////
    .footer-container{
      background-image: linear-gradient(rgba(36, 36, 36, 0.658),rgba(61, 57, 57, 0.61)),url("assets/images/bg-logo1.png");
      background-color: rgba(20, 18, 18, 0.89);
      background-size: contain;
        & .first-foot{
            // display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            // top: 25px;
            & div{
              margin-top: 20px;
              & h4{
                  text-transform: uppercase;
                  font-size: 25px;
                  font-weight: 500;
                  line-height: 2.5em;
                  font-family: futur;
                  color:#e2e2e2;

              }
          & hr{
              // display: block;
               width: 50px;
               background-color:#e2e2e2;
               height: 0.5px;
               border-radius: 3px;
               margin: auto;
               margin-bottom: 2em;
               line-height: 6em;
               
           }
            & .subsribe-foot{
                display: flex;
                margin-top: 40px;
                justify-content: center;
                & input{
                  background-color: #d9d9d9;
                  border-color: #7a7a7a;
                  border-radius: 0px 0px 0px 0px;
                  // height: 7vh;
                  padding: 6px;
                 width: 39vw;
                }
                & a{
                     text-decoration: none;
                     background-color: #bb1b06;
                     color: #c4c4c4;
                     text-align: center;
                     text-transform: uppercase;
                     font-weight: bold;
                     padding: 11px;
                    //  height: 7vh;
                     display: inline-block;
                     margin-left:10px ;
                     transition:  all 0.3s ease-in-out;

                }
                & a:hover{
                    transform: translateY(-12px);
                    background-color:white ;
                    color: hsl(7, 94%, 38%);
                }
            }
            & .foot-icons{
                text-align: center;
                & span{
                    display: inline-block;
                    margin-top: 10px;
                    & i{
                        color: white;
                        margin-right:3vw ;
                        font-size: 20px;
                    }
                }


            }
            }

        }
        & .second-foot{
          margin-top: 50px;
          background-color: #282828;
          .footer-content{
            margin-left:0;
            padding: 0;
           .first{
              font-family: Futur;
              margin: 6vh 0 5vh 0;
              font-size: 15px;

              & h5{
                  font-size: 1em;
                  font-weight: bolder;
                  color: white;

                  text-transform: capitalize;
              }
              
                 & ul li{
                  list-style: none;
                  text-decoration: none;
                  font-family: futur;
                  line-height: 2;
                  color: #9f9f9f;
                  font-size: 14px;
                  cursor: pointer;

                  & i{
                     color: rgb(187, 43, 43);
                     margin-right: 8px;
                  }

                 }
                 & ul li:hover{
                     color: #a51300;
                     cursor: pointer;

                 }
             }
            }

        }
        & .copyright{
            width: 100%;
            background-color: rgb(27, 27, 27);
            text-align: center;
            padding: 1em;
          
            & p{
                  // margin-top:25px ;
                 color: #9f9f9f;
                 font-size: 15px;
                 margin-bottom: 0;
                 
                & span{
                    color: #a51300;
                    
                }
            }
        }
    }

    /////////////////////end footer////////////////////////////////
    // /////////////////////////////contact/////////////////////////////////////////////////////////////
.grayTitle {
    color: #333132;
    display: flex;
    justify-content: center;
  }
  .redTitle {
    color: #d2232a;
    margin: 0 8px;
  }
  .contact-row {
    justify-content: center;
  }
  .para {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
  }
  .contact-container {
    .row {
      justify-content: center;
      .col-sm-12.col-lg-7, .col-lg-6 {
        flex: 0 0 50%;
        text-align: center;
      }
    }
    .contactHeader {
      overflow: hidden;
      padding: 130px 0px;
      background-color: #000000;
      background-image: linear-gradient(rgba(27, 27, 27, 0.534), rgba(27, 24, 24, 0.781)),
      url(https://deja-vu.com/wp-content/uploads/2019/06/office-620822_1920.jpg);
       background-position-x: center;
       background-position-y: top;
       background-repeat: no-repeat;
       background-size: cover;
       width: 100%;
      .BoldTitle {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 45px;
      }
    
    }
    .GetInTouch {
      margin: 1em 0;
      font-size: 45px;
      font-weight: 900;
      line-height: 1.8em;
      .para {
        text-align: center;
      }
    }
    .map {
      margin: 1em 0;
      width: 100%;
      overflow: hidden;
      iframe#gmap_canvas {
        width: 100%;
      }
    }
    .contactForm {
      margin: 1em 0;
      font-size: 35px;
      font-weight: 500;
      line-height: 25px;
      .grayTitle {
        justify-content: start;
        margin: 1em 0;
      }
      .para {
        text-align: left;
      }
    }
    .information {
      .col-12 {
        padding-left: 0;
      }
      .icon {
        color: #d2232a;
        font-size: 14px;
      }
      .info {
        padding-left: 12px;
        color: #333132;
        font-size: 14px;
      }
    }
  
    form {
      input,
      textarea {
        background-color: #ffffff;
        border-color: #bbbbbb;
        border-width: 1px 1px 1px 1px;
        border-radius: 0px 0px 0px 0px;
        color: #282828;
        font-size: 15px;
        min-height: 40px;
        padding: 5px 14px;
        margin: 1em 0 0 0;
      }
      .alert {
        font-size: 18px;
        font-weight: 500;
        line-height: 12px;
        margin: 6px 0 14px 0;
        border-radius: 0;
      }
      button {
        margin: 1em 0 0 0;
        background-color:#0a0a0a;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        min-height: 47px;
        &:hover {
          background-color:#a51300;
          color: white;
        }
      }
    }
  }
  ///////////////////////////////////// end contact us////////////////////////////////////////////

  @media screen and (max-width:500px){
    .contact-container .contactHeader .BoldTitle {
      font-size: 23px;
  }
  .contact-container .contactHeader {
    padding: 46px 0px;
  }
  .contact-container .GetInTouch {
    font-size: 25px;
  }
  .para {
    font-size: 12px;}

    .contact-container .contactForm {
      font-size: 25px;
    }  
    .information {
      padding-left: 17px;
  }
  .contact-container .information .info {
    padding-left: 9px;
    font-size: 10px;
}
.contact-container form input, .contact-container form textarea {
  font-size: 10px;}
  .footer-container .first-foot div .subsribe-foot input {
    width: auto;
    font-size: 10px;
    height: 5vh;
  }
  .footer-container .first-foot div .subsribe-foot a {
    padding: 3px 8px;
    font-size: 11px;
    height: 5vh;
    display: flex;
    align-items: center;
}
.footer-container {
  background-size: inherit;
  background-repeat: no-repeat;
}
.footer-container .second-foot .footer-content .first {
  margin-top: 2vh;
  font-size: 15px;
}
.footer-container .copyright p {
  color: #9f9f9f;
  font-size: 12px;
  margin-bottom: 0;
}
.footer-container .copyright {
  padding: 15px 0;
}
// -------about--------
.about-us-container h4 {
  font-size: 38px;}
  .about-us-container p {
    font-size: 14px;
}

  }
  @media screen and (max-width:800px){
    // -------services--------

.outer-content-wrapper-front ,.outer-content-wrapper-back, .content-wrapper-front, .content-wrapper-back{
  height: 14vh !important;
  top: 0;
  left: 0; }

  .outer-content-wrapper-front p , .content-wrapper-front p  {
    font-size: 13px !important;
    margin-top: 5px !important;
}
.fa-star{
  font-size: 22px;
}
 .outer-content-wrapper-back a , .content-wrapper-back a {
  margin: 11px auto !important;
}
 .outer-content-wrapper-back p , .content-wrapper-back p{
  color: white;
  font-size: 10px !important;
}
  }