<div class="footer-container">
    <div class="first-foot container">
        <div>
            <div class="foot-icons row">
                <div class="col-12">
            <h4>keep in touch</h4>
        </div>
    </div>
            <hr>
            <div class="subsribe-foot">
                <input placeholder="Email" type="text">
                <a href="#" type="button">Subscribe</a>
            </div>
            <div class="foot-icons row">
                <div class="col-12">
                <span><i class="fa fa-facebook"></i></span>
                <span><i class="fa fa-twitter"></i></span>
                <span><i class="fa fa-instagram"></i></span>
                <span><i class="fa fa-youtube"></i></span>
                <span><i class="fa fa-linkedin"></i></span>
            </div>
            </div>
        </div>
    </div>
    <div class="second-foot">
        <div class="container">
            <div class="row row-no-gutters footer-content">
                <div class="col-md-3 first ">
                <h5>Quick Links</h5>
                    <ul>

                        <li> Home</li>
                        <li> Who we are</li>
                        <li> Business Entities</li>
                        <li> Individuals</li>
                        <li> Contact us</li>
                       
                    </ul>
                </div>
                <div class="col-md-3 first">
                    <h5>Business Entities</h5>
                        <ul>
                            <li>Marketing</li>
                            <li> Sales</li>
                            <li> Event Management</li>
                            <li> HR & Training</li>
                            <li> Organizational Development.</li>
                            <li> IT Services</li>
                        </ul>
                      
                </div>
                <div class="col-md-3 first">
                        <h5>Individuals</h5>
                            <ul>
                                <li>Soft Skills</li>
                                <li> Functional Skills</li>
                            </ul>
                          
                </div>
                 <div class="col-md-3 first">
                            <h5>Get In Touch</h5>
                                <ul>
                                    <li style="line-height: 1.2em;"> Ahmed Maher st, AlKarnak Tower <br>
                                        1st floor, Mansoura, 35511</li>
                                    <li>+20 50 239 4343</li>
                                    <li>+20 11111 69 507</li>
                                    <li> +20 11111 69 537</li>
                                </ul>
                </div>
            </div>
            </div>
    </div>
    <div class="copyright">
    <p>Copyright © 2019 All rights reserved by <span>DEJA VU</span></p>
    </div>
</div>