
<div class="mission-container">
<div class="mission">
    <div>
        <h4>missi<span>o</span>n</h4>
        <hr>
        <div style="display: flex;">
        <p>  We will achieve our<span> vision</span> through</p>
    </div>
    </div>

</div>
<div class="container">
    <div class="row row-no-gutters mission-cols">
        <div class="mission-description col-md-6" style="">
            <div class="col-md-12 mission-content ">
                <ul>
                    <li><i class="fa fa-minus" aria-hidden="true"></i> 
                        Believing in scientific rigor as a way to effectively serve our partners and professionally conduct business.
                    </li>
                    <li><i class="fa fa-minus" aria-hidden="true"></i> Partnering with highly qualified consultants and experts in various fields dedicated to bringing professional solutions to our business and individual clients as well.
                    </li>
                    <li><i class="fa fa-minus" aria-hidden="true"></i> Working Passionately to explore and analyze problems and opportunities for the favor of our business clients so that we can provide scientific and innovative solutions that help them achieving their good objectives regarding growth and profit.
                    </li>
                    <li><i class="fa fa-minus" aria-hidden="true"></i> Working passionately to provide developmental training programs to individuals striving for learning and development to help them having competitive edges to face different job and life challenges.
                    </li>

                </ul>          
              </div>
         </div>
            <div class="mission-description col-md-6  m-l-6" style="">
                <div class="col-md-12 mission-content">
                    <ul>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Creating a small society with positive values of transparency, honesty, integrity, credibility, good intent and trust.
                        </li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Being concerned to the wellbeing of our employees and help them developing themselves to be more useful for themselves, their families and society.
                        </li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Having positive influence on all stakeholders we are dealing with them in our business.
                        </li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Operating profitably to support our parent organization and its shareholders.
                        </li>

                    </ul>          
                  </div>
        </div>

    </div>
    </div>
</div>
