<div class="about-us-container">
    <div class="about-us" id="aboutUs">
        <div class="container">
            <img src="assets/images/about-us33.png">
            <h4>about<span> us</span></h4>
            <hr>
            <div class="row">
                <div class="col-9 col-md-7">
                    <p> <span>Dejavu </span> is an independent entity concerned with presenting integrated professional
                        solutions
                        for the development of both business entities and individuals as well.
                    </p>
                </div>
                <div class="col-1">
                <span class="line-border"></span>
            </div>

            </div>
        </div>

    </div>
    <div class="values">
        <div class="container">
            <div class="row row-no-gutters values-cols">
                <div class="values-img col-md-6"
                    style="background-color:rgb(34, 33, 33) ;border-radius: 0px 10px 10px 0px;">
                    <div class="col-md-12 ">
                        <img src="assets/images/values.png">
                    </div>
                </div>
                <div class="values-description col-md-6 text-center m-l-6"
                    style="background-color: rgb(255, 255, 255);">
                    <div class="col-md-12">
                        <h4><span> V</span>alues</h4>
                        <hr>
                        <div>
                            <p> The game of business isn’t just about money, it is more about the good
                                values you leave in people around you
                            </p>
                            <!-- <span class="line-border"></span> -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-no-gutters values-content">
                <div class="col-md-4 first ">
                    <h5>We believe in and work through:</h5>
                    <ul>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Transparency</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Honesty</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Integrity</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Credibility</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Good intent</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Trust</li>
                    </ul>
                    <!-- <ul class="elementor-icon-list-items">
                    <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </span>
                                <span class="elementor-icon-list-text">Passion and rigor in everything we do.</span>
                            </li>
                        <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </span>
                                <span class="elementor-icon-list-text">Uncompromising quality.</span>
                            </li>
                        <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </span>
                                <span class="elementor-icon-list-text">Continuously improve.</span>
                            </li>
                        <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </span>
                                <span class="elementor-icon-list-text">Never give up.</span>
                            </li>
                        <li class="elementor-icon-list-item">
                            </li>
                            </ul> -->

                </div>
                <div class="col-md-4 first">
                    <h5>We deliver passionately:</h5>
                    <ul>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Passion and rigor in everything we do.</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Uncompromising quality.</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Continuously improve.</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Never give up</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Committed to our stakeholders.</li>
                    </ul>

                </div>
                <div class="col-md-4 first">
                    <h5>We think differently:</h5>
                    <ul>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Systematic approaches.</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Shortest ways.</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Team-thinking.</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Innovate everywhere.</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Creativity driven by diversity.</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Passion to do what others see as impossible.
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>


</div>