<div class="services-container container-fluid" id="services">
    <div class="services-header">
        <div>
            <h4><span>OUR</span> SERVICES</h4>
            <hr>
            <p>We provide services for both<br>
                <span>BUSINESS ENTITIES</span> And <span>INDIVIDUALS</span></p>
        </div>
    </div>
    <div class="row service-row">
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="outer-content-wrapper-back">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="outer-content-wrapper-front">
                    <div>
                        <img src="assets/images/marketing-icon-1-300x300.png">
                        <p><span>m</span>arketing</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="content-wrapper-back" style="background-color: rgb(89, 94, 99);">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="content-wrapper-front"
                    style="
            background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/sales.png);">
                    <div>
                        <img src="assets/images/sales-aaa-300x253.png">
                        <p><span>s</span>ales</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="outer-content-wrapper-back">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="outer-content-wrapper-front" style="
            background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/hr.jpg);">
                    <div>
                        <img src="assets/images/hr-icon-300x300.png">
                        <p style=" text-transform: capitalize;"><span
                                style="text-transform:uppercase; display: inline-block; padding-right: 5px;">hr</span>Services
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row service-row">
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="outer-content-wrapper-back" style="background-color: rgb(89, 94, 99);">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="outer-content-wrapper-front"
                    style="
             background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/training.jpg);">
                    <div>
                        <img src="assets/images/training-icon-300x300.png">
                        <p style=" ">
                            <span style="color:white; ">training</span><span
                                style="color: #a51300;; display:inline-block; padding-left: 4px;"> &</span><br>
                            <span>Development</span><span
                                style=" color: #a51300;;display:inline-block; padding-left: 4px;">Services</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="content-wrapper-back">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="content-wrapper-front" style="
        background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/OD.jpg);">
                    <div>
                        <img src="assets/images/od-vector-300x285.png">
                        <p><span style="text-transform: capitalize; color: #a51300;">organizational</span><br><span
                                style="text-transform: capitalize; color: white;">development</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="outer-content-wrapper-back" style="background-color: rgb(89, 94, 99);">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="outer-content-wrapper-front" style="
        background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/IT.jpg);">
                    <div>
                        <img src="assets/images/it-icon-bg-300x254.png">
                        <p style=" text-transform: capitalize;"><span
                                style="text-transform:uppercase; display: inline-block; padding-right: 5px;">it</span>Services
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row service-row">
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="outer-content-wrapper-back">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="outer-content-wrapper-front"
                    style="
            background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/event.jpg);">
                    <div>
                        <img src="assets/images/event-vector.png">
                        <p style=""><span
                                style="text-transform:capitalize; display: inline-block; padding-right: 5px;">event</span>Managment
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="content-wrapper-back" style="background-color: rgb(89, 94, 99);">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="content-wrapper-front"
                    style="
            background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/entities.png);">
                    <div>
                        <!-- <img src="assets/images/marketing-icon-1-300x300.png"> -->
                        <span><i class="fa fa-star lg"></i></span>
                        <p style=" text-transform: capitalize;"><span
                                style="text-transform:capitalize; display: inline-block; padding-right: 5px;">soft</span>Skills
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="content-wrapper">
                <div class="outer-content-wrapper-back">
                    <div>
                        <p>
                            We believe that marketing is the
                            engine of any business that drive
                            growth and profit.
                        </p>
                        <a href="#">
                            More
                        </a>
                    </div>
                </div>
                <div class="outer-content-wrapper-front"
                    style="
            background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/individuals_1.png);">
                    <div>
                        <!-- <img src="assets/images/marketing-icon-1-300x300.png"> -->
                        <span><i class="fa fa-star lg" ></i></span>
                        <p style=" text-transform: capitalize;"><span
                                style="text-transform:capitalize; display: inline-block; padding-right: 5px;">functional</span>Skills
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 
    <div class="row service-row">
        <div class="column col-md-4 ">
            <div class="col-container">
                <div class="content-wrapper">
                    <div class="outer-content-wrapper-back">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="outer-content-wrapper-front">
                        <div>
                            <img src="assets/images/marketing-icon-1-300x300.png">
                            <p><span>m</span>arketing</p>
                        </div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="outer-content-wrapper-back" style="background-color: rgb(89, 94, 99);">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="outer-content-wrapper-front"
                        style="
                 background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/training.jpg);">
                        <div>
                            <img src="assets/images/training-icon-300x300.png">
                            <p style=" ">
                                <span style="color:white; ">training</span><span
                                    style="color: #a51300;; display:inline-block; padding-left: 4px;"> &</span><br>
                                <span>Development</span><span
                                    style=" color: #a51300;;display:inline-block; padding-left: 4px;">Services</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="outer-content-wrapper-back">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="outer-content-wrapper-front"
                        style="
                background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/event.jpg);">
                        <div>
                            <img src="assets/images/event-vector.png">
                            <p style=""><span
                                    style="text-transform:capitalize; display: inline-block; padding-right: 5px;">event</span>Managment
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-md-4">
            <div class="col-container">
                <div class="content-wrapper">
                    <div class="content-wrapper-back" style="background-color: rgb(89, 94, 99);">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="content-wrapper-front"
                        style="
                background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/sales.png);">
                        <div>
                            <img src="assets/images/sales-aaa-300x253.png">
                            <p><span>s</span>ales</p>
                        </div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="content-wrapper-back">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="content-wrapper-front"
                        style="
                background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/OD.jpg);">
                        <div>
                            <img src="assets/images/od-vector-300x285.png">
                            <p><span style="text-transform: capitalize; color: #a51300;">organizational</span><br><span
                                    style="text-transform: capitalize; color: white;">development</span></p>
                        </div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="content-wrapper-back" style="background-color: rgb(89, 94, 99);">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="content-wrapper-front"
                        style="
                background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/entities.png);">
                        <div>
                            <img src="assets/images/marketing-icon-1-300x300.png">
                            <span><i class="fa fa-star lg"
                                    style="width:20vw; color:#a51300; font-size: 50px;"></i></span>
                            <p style=" text-transform: capitalize;"><span
                                    style="text-transform:capitalize; display: inline-block; padding-right: 5px;">soft</span>Skills
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-md-4">
            <div class="col-container">
                <div class="content-wrapper">
                    <div class="outer-content-wrapper-back">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="outer-content-wrapper-front"
                        style="
                background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/hr.jpg);">
                        <div>
                            <img src="assets/images/hr-icon-300x300.png">
                            <p style=" text-transform: capitalize;"><span
                                    style="text-transform:uppercase; display: inline-block; padding-right: 5px;">hr</span>Services
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="outer-content-wrapper-back" style="background-color: rgb(89, 94, 99);">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="outer-content-wrapper-front"
                        style="
                background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/IT.jpg);">
                        <div>
                            <img src="assets/images/it-icon-bg-300x254.png">
                            <p style=" text-transform: capitalize;"><span
                                    style="text-transform:uppercase; display: inline-block; padding-right: 5px;">it</span>Services
                            </p>

                        </div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="outer-content-wrapper-back">
                        <div>
                            <p>
                                We believe that marketing is the
                                engine of any business that drive
                                growth and profit.
                            </p>
                            <a href="#">
                                More
                            </a>
                        </div>
                    </div>
                    <div class="outer-content-wrapper-front"
                        style="
                background-image: linear-gradient(rgba(3, 0, 0, 0.658),rgba(10, 8, 8, 0.61)),url(assets/images/individuals_1.png);">
                        <div>
                            <img src="assets/images/marketing-icon-1-300x300.png">
                            <span><i class="fa fa-star lg"
                                    style="width:20vw; color:#a51300; font-size: 50px;"></i></span>
                            <p style=" text-transform: capitalize;"><span
                                    style="text-transform:capitalize; display: inline-block; padding-right: 5px;">functional</span>Skills
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->