<div class="header-container">
    <div  >
    <img src="assets/images/LOGO.png" >
    <!-- <div class="" style="transform:tranlateX(20px); position: relative;"> -->
    <div class="dropping-texts"style="text-align: center ;">
        <div>Marketing</div>
        <div>Event Management</div>
        <div>Soft skills</div>
        <div>Sales</div>
        <!-- <div>Functional Skills</div>
        <div>HR & Training Dev</div>
        <div>Organizational Dev</div>
        <div>IT services</div> -->
      </div>
    <!-- </div> -->
      <pre>V I S I O N   F R O M   T H E   FUTURE</pre>

    </div>
</div>
